.todo {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    align-items: center;
    width: 90%;
    padding: 1rem;
    justify-content: space-between;
    background-color: hsl(240%, 15%, 20%);
    border-radius: 0.7rem;
    margin-bottom: 1rem;

    h2 {
        font-size: 1.2rem;
    }

    .deleteBtn {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        svg {
            fill: hsl(240%, 15%, 80%);
            transition: fill 300ms ease-in-out;
        }

        &:hover {
            svg {
                fill: hsl(0, 60%, 45%);
            }
        }
    }

    .doneBtn {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        svg {
            fill: hsl(240%, 15%, 80%);
            transition: fill 300ms ease-in-out;
        }

        &:hover {
            svg {
                fill: hsl(130%, 60%, 45%);
            }
        }
    }

    .editBtn {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        svg {
            fill: hsl(240%, 15%, 80%);
            transition: fill 300ms ease-in-out;
        }

        &:hover {
            svg {
                fill: hsl(220%, 60%, 45%);
            }
        }
    }

    .editContainter {
        display: flex;
        gap: 1rem;

        input {
            width: 13rem;
            padding: 0.8rem 1rem;
            font-family: inherit;
            border: none;
            border-radius: 0.7rem;
            background-color: hsl(240, 15%, 15%);
            color: hsl(0%, 0%, 90%);
            padding-right: 5rem;

            &:focus {
                outline: .1rem solid hsl(240, 15%, 40%);
            }
        }

        button {
            border: none;
            border-radius: 0.7rem;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            background-color: hsl(240, 15%, 25%);
            color: hsl(240, 15%, 80%);
            cursor: pointer;
            transform: translateY(-40%);
            transform: scale(1);
            transition: background-color, transform, color 300ms ease-in-out;
            border: 1px solid hsl(240, 15%, 30%);

            &:hover {
                background-color: hsl(240, 15%, 20%);
                transform: scale(1.1);
                color: hsl(240, 15%, 90%);

            }
        }
    }





}

.done {

    h2 {
        text-decoration: line-through;
        color: hsl(240%, 10%, 33%);
    }

    .deleteBtn {
        cursor: default;

        svg {
            fill: hsl(240%, 10%, 33%);

        }

        &:hover {
            svg {
                fill: hsl(240%, 10%, 33%);
            }
        }
    }

    .doneBtn {
        cursor: default;

        svg {
            fill: hsl(240%, 10%, 33%);

        }

        &:hover {
            svg {
                fill: hsl(240%, 10%, 33%);
            }
        }
    }

    .editBtn {
        cursor: default;

        svg {
            fill: hsl(240%, 10%, 33%);

        }

        &:hover {
            svg {
                fill: hsl(240%, 10%, 33%);
            }
        }
    }


}